/* Resets */

/* Reset default browser styles for all elements and pseudo-elements
 * Set `box-sizing` to `border-box` for consistent width calculations
 * Remove default padding and margin for a clean slate
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Disables the tap highlight color on touch devices
   * Non-standard property, use with caution
   */
  -webkit-tap-highlight-color: transparent; 
}
@media (hover: none) {
  /* Disables tap highlight color on touch devices
   * Some touches devices do not respond to the query (tested: iPad air 3, iPad Pro 2018, Samsung A25). Might be an issue with touch devices that get connected to a mouse.
   * Ensures cursor is default even on elements with `cursor: pointer` set
   * Might only be needed if `-webkit-tap-highlight-color` is not supported
   */
  * {
    cursor: default !important; 
  }
}

/* Resets default styles for focused, active or hovered elements 
   like buttons, links, etc. This ensures a consistent look and feel 
   across browsers. */
div:active,
div:focus {
  background-color: none;
  background: none;
  color: none;
  outline: none;
}

/* Resets default styles for anchor tags (links). This removes 
   underlines and sets the text color to inherit from the parent element. */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Sets the base font size for the entire document (html) and 
   defines a default font family. */
html {
  font-size: 62.5%;
  /* This is a common base size for responsive design */
  font-family: Arial, Helvetica, sans-serif;
}

/* Sets the base font size for the body element. You can adjust 
   this value to control the overall font size of your website. */
body {
  font-size: 1.6rem;
}

/* Resets default styles for buttons, submit/reset inputs. 
   This removes borders, padding, and sets the cursor to pointer 
   for better user experience. */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Hides the up/down arrows in number input fields for a cleaner look 
   (works with Webkit browsers like Chrome and Safari). */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disables the default number input field appearance for Firefox 
   and ensures a consistent look across browsers. */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

/* Improves default media element display. Sets them to block level 
   elements and allows them to take up the full width available 
   (useful for responsive layouts). */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Prevents text overflow in heading and paragraph elements by enabling 
   line breaks at word boundaries. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Removes default bullet points for ordered and unordered lists. */
ol,
ul {
  list-style: none;
}

/* Remove default iframe border */
iframe {
  border: none;
}
